<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Beer Travel Itinerary</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><b>Starting point</b></p>
<form method="post" th:object="${searchForm}">
  <label for="latitude">Latitude:</label><br>
  <input type="text" id="latitude" th:field="*{latitude}"><br>
  <div th:if="${#fields.hasErrors('latitude')}" style="color: red;">Invalid latitude</div>

  <label for="longitude">Longitude:</label><br>
  <input type="text" id="longitude" th:field="*{longitude}"><br>
  <div th:if="${#fields.hasErrors('longitude')}" style="color: red;">Invalid longitude</div>

  <br>
  <input type="submit" value="Search v1" formaction="/searchBasic">
  <input type="submit" value="Search v2" formaction="/searchByRP">
</form>

<div th:if="${searchResult}">
  <div th:if="${searchResult.itineraryNodes.size() < 2}">
    <p><b>No results found.</b></p>
  </div>
  <div th:unless="${searchResult.itineraryNodes.size() < 2}">
    <p><b>Suggested itinerary</b></p>
    <ol>
      <li th:each="brewery : ${searchResult.itineraryNodes}">
        <span th:text="${brewery}"></span>
      </li>
    </ol>
    <p><b>Total distance:</b> <span th:text="${searchResult.totalKms}"></span> km</p>
    <p><b>Beers collected</b></p>
    <ol>
      <li th:each="beer : ${searchResult.beersCollected}">
        <span th:text="${beer}"></span>
      </li>
    </ol>
  </div>
  <p><b>Elapsed time:</b> <span th:text="${elapsedTimeMs}"></span> ms</p>
</div>

</body>
</html>